* {
  box-sizing: border-box;
}

* ::before, * ::after {
  box-sizing: inherit;
}

.item {
  float: left;
  display: inline-block;
  margin-left: auto;
  overflow: auto;
  vertical-align: baseline;
}
.item_img {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: 0.5px black solid;
  vertical-align: baseline;
  float: left;
}


.info {
  margin-left: auto;
  margin-right: auto;;
  display: inline;
  padding: 10px;
  float: right;
}

.number {
  float: left;
  display: inline;
  vertical-align: baseline;
}

p {
  float: right;
}

.avatar {
  max-width: 10%;
  float: right;
}
